<!-- ================================================== -->
<!--  Budget category template. -->
<!-- ================================================== -->

<template>
  <div :id="categoryId">

    <!-- Budget row. -->
    <div class="category budget-grid noselect">

      <!-- Category name. -->
      <div class="category-name">
        <div @click="toggleMenu()">
          <i
            v-if="category.fmobilePinned"
            class="fa fa-thumb-tack"
            :class="highlightPin ? 'w3-text-theme' : ''"
            :style="!highlightPin ? {'color': '#ccc'} : {}"
           >
          </i>
          <span>{{category.name}}</span>
          <fm-note-icon v-if="category.note !== null && category.note !== ''" style="margin-left: 2px;"></fm-note-icon>
        </div>
      </div>

      <!-- Budgeted value. -->
      <div @click="toggleBudgetOptions()" class="budget-value" :style="budget === 0 ? {'color': '#ccc'} : {}">
        <div :style="showBudgetOptions ? {'font-weight': 'bold'} : {}">
          <fm-note-icon v-if="budgetNote !== null && budgetNote !== ''" style="margin-right: 2px;"></fm-note-icon>
          <span>{{budget | currencyInt(true, $.digits) | currency('', $.digits)}}</span>
        </div>
      </div>

      <!-- Outflow total. -->
      <div @click="toggleTransactions()" class="budget-value" :style="outflow === 0 ? {'color': '#ccc'} : {}">
        <div :style="showTransactions ? {'font-weight': 'bold'} : {}">{{outflow | currencyInt(true, $.digits) | currency('', $.digits)}}</div>
      </div>

      <!-- Balance total. -->
      <div @click="toggleBalanceOptions()" class="budget-value">
        <div
          :class="balanceClass"
          :style="balanceStyle">
          {{balance | currencyInt(true, $.digits) | currency('', $.digits)}}
          <i class="fas fa-angle-double-right" v-if="balance < 0 && budgetVue.currentMonth.categoryCache[category.id].overspending"></i>
        </div>
      </div>

    </div>

    <!-- Account options. -->
    <div v-if="showAccountMenu">
      <div class="divider-line-top" />
      <div class="account-arrow-line">
        <div class="account-arrow-background w3-theme-l5" />
      </div>
      <div class="w3-theme-l5">

        <!-- Account menu. -->
        <div class="account-menu">

          <!-- Add transaction menu. --> 
          <div @click="addTransaction" class="w3-small">
            <i class="fas fa-plus-circle w3-text-green"></i> Add Transaction
          </div>

          <!-- Pin/Unpin menu. -->  
          <div v-if="!category.fmobilePinned" @click="pinCategory" class="w3-small">
            <i class="fas fa-menu fa-thumb-tack w3-text-blue"></i> Pin Category
          </div>
          <div v-if="category.fmobilePinned" @click="unpinCategory" class="w3-small">
            <i class="fas fa-menu fa-times w3-text-red"></i> Unpin Category
          </div>

          <!-- Account note. -->
          <fm-note-editor
            :originalNote="category.note"
            v-on:save="saveNote"
            style="width: 100%">
          </fm-note-editor>

        </div>

      </div>
    </div>

    <!-- Budget options. -->
    <div v-if="showBudgetOptions">
      <div class="divider-line-top" />
      <div class="budget-arrow-line">
        <div class="budget-arrow-background w3-theme-l5" />
      </div>
      <div class="w3-theme-l5">

        <!-- Budget menu. -->
        <div class="budget-menu" v-if="showBudgetMenu">

          <!-- Edit budget value. --> 
          <div @click="editBudget()" class="w3-small">
            <i class="fas fa-menu fa-edit w3-text-orange"></i> Edit Budget Amount
          </div>
          
          <!-- Quick budget: Last month's budget. --> 
          <div @click="budgetLastMonth()" class="w3-small">
            <i class="fas fa-menu fa-bolt w3-text-yellow"></i> Use Last Month's Budget
          </div>

          <!-- Quick budget: Last 3 months' budget. --> 
          <div @click="budgetLastThreeAvg()" class="w3-small">
            <i class="fas fa-menu fa-bolt w3-text-blue"></i> Use Average of Last 3 Months
          </div>

          <!-- Quick budget: Budget to zero. --> 
          <div @click="budgetToZero()" class="w3-small">
            <i class="fas fa-menu fa-bolt w3-text-purple"></i> Budget to Zero
          </div>

          <!-- Quick budget: Clear budget amount. --> 
          <div @click="clearBudget()" class="w3-small">
            <i class="fas fa-menu fa-times w3-text-red"></i> Clear Budget Amount
          </div>

          <!-- Budget amount note. -->
          <fm-note-editor
            :originalNote="budgetNote"
            v-on:save="saveBudgetNote"
            style="width: 100%">
          </fm-note-editor>

        </div>

        <!-- Budget calculator. -->
        <fm-calculator-advanced
          ref="budgetCalculator"
          v-show="showBudgetCalc"
          v-on:save="saveBudget"
          v-on:cancel="cancelBudget">
        </fm-calculator-advanced>

      </div>
    </div>

    <!-- Transaction list. -->
    <div v-if="showTransactions">
      <div class="divider-line-top" />
      <div class="outflow-arrow-line">
        <div class="outflow-arrow-background w3-theme-l5" />
      </div>
      <ul class="w3-ul">
        <li style="margin: 0; padding: 0; border: 0" v-for="(transaction, index) in transactionList" :key="index">
          <fm-transaction
            :transaction='transaction'
            :class="{'w3-white': index % 2 === 0, 'w3-theme-l5': index % 2 !== 1 }"
            :editFunction='budgetVue.editTransaction'>
          </fm-transaction>
        </li>
      </ul>
    </div>

    <!-- "Red flag" options. -->
    <div v-if="showBalanceOptions">
      <div class="divider-line-top" />
      <div class="balance-arrow-line">
        <div class="balance-arrow-background w3-theme-l5" />
      </div>
      <div class="w3-theme-l5">

        <!-- Menu. -->
        <div v-if="balance > 0 && budgetVue.currentMonth.cache.totalAvailable < 0" class="budget-menu">
          <!-- Quick budget: Cover overbudget. -->
          <div  @click="coverOverbudget()" class="w3-small">
            <i class="fas fa-menu fa-arrow-up w3-text-green"></i> Cover Overbudget
          </div>
        </div>

        <div v-if="balance < 0" class="overspending-container">
          <div>Subtract from next month's "Available to Budget"</div>
          <div>
            <label class="switch">
              <input type="checkbox" v-model="overspending">
              <span class="slider round" :class="[overspending === true ? 'w3-red' : '']"></span>
            </label>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Budget category script. -->
<!-- ================================================== -->

<script>
  import moment from 'moment';
  import Transaction from '../accounts/transaction';
  import CalculatorAdvanced from '../common/calculator-advanced';
  import NoteEditor from './note-editor';
  import NoteIcon from './note-icon';

  export default {
    name: 'fm-category',
    components: {
      'fm-transaction': Transaction,
      'fm-calculator-advanced': CalculatorAdvanced,
      'fm-note-editor': NoteEditor,
      'fm-note-icon': NoteIcon
    },
    props: [
      'budgetVue',
      'category',
      'highlightPin'
    ],
    data () {
      return {
        transactions: [],
        showAccountMenu: false,
        showBudgetOptions: false,
        showBudgetMenu: false,
        showBudgetCalc: false,
        showTransactions: false,
        showBalanceOptions: false
      };
    },
    computed: {
      categoryId () {
        return 'category_' + this.category.id + (this.highlightPin ? '_pin' : '');
      },
      overspending: {
        get () {
          return this.budgetVue.currentMonth.categoryCache[this.category.id].overspending;
        },
        set (value) {
          this.budgetVue.currentMonth.categories[this.category.id].overspending = value;
        }
      },
      budget () {
        const category = this.budgetVue.currentMonth.categories[this.category.id];

        if (category) {
          return category.budget;
        } else {
          return 0;
        }
      },
      budgetNote () {
        const category = this.budgetVue.currentMonth.categories[this.category.id];

        if (category) {
          return category.note;
        } else {
          return null;
        }
      },
      outflow () {
        const categoryCache = this.budgetVue.currentMonth.categoryCache[this.category.id];

        if (categoryCache) {
          return categoryCache.outflow;
        } else {
          return 0;
        }
      },
      balance () {
        const categoryCache = this.budgetVue.currentMonth.categoryCache[this.category.id];

        if (categoryCache) {
          return categoryCache.balance;
        } else {
          return 0;
        }
      },
      balanceClass () {
        const balance = this.balance;
        const classes = [];

        classes.push('budget-value-text');

        if (balance < 0) {
          classes.push('w3-red');
          classes.push('w3-round-xlarge');
        } else if (balance > 0) {
          classes.push('w3-green');
          classes.push('w3-round-xlarge');
        }

        return classes;
      },
      balanceStyle () {
        const balance = this.balance;
        const style = {};

        if (balance < 0) {
          style.padding = '2px 6px 2px 4px';
        }

        if (balance > 0) {
          style.padding = '2px 6px';
        }

        if (balance === 0) {
          style.color = '#ccc';
        }

        return style;
      },
      transactionList () {
        const trans = this.transactions
          .filter(transaction => (
            transaction.category === this.category.id ||
            transaction.splits.filter(split => split.category === this.category.id).length > 0
          ) &&
            moment(transaction.date).format('YYYY-MM') === moment(this.budgetVue.currentMonth.date).format('YYYY-MM')
          )
          .sort(function (x, y) { return y.date - x.date || y.value - x.value; });
  
        if (trans.length === 0) {
          this.hideTransactions();
        }

        return trans;
      }
    },
    methods: {
      saveBudget (amount) {
        this.budgetVue.currentMonth.categories[this.category.id].budget = amount;
        this.showBudgetOptions = false;
      },
      cancelBudget () {
        this.showBudgetOptions = false;
      },
      hideAll (category) {
        if (category !== this) {
          this.hideAccountOptions();
          this.hideBudgetOptions();
          this.hideTransactions();
          this.hideBalanceOptions();
        }
      },
      hideAccountOptions () {
        this.showAccountMenu = false;
      },
      toggleMenu () {
        this.showAccountMenu = !this.showAccountMenu;

        // Signal to all other listening transactions that they need to close their editor menus.
        if (this.showAccountMenu) {
          this.hideBudgetOptions();
          this.hideTransactions();
          this.hideBalanceOptions();
          this.budgetVue.$emit('showAccountMenu', this);
          this.budgetVue.$emit('scrollToDiv', this.categoryId);
        }
      },
      addTransaction () {
        this.hideAccountOptions();
        this.budgetVue.addTransaction(this.category.id);
      },
      pinCategory () {
        this.hideAccountOptions();
        this.category.fmobilePinned = true;
        this.category.fmobilePinnedSort = this.budgetVue.pinnedCategories.length;
        setTimeout(() => {
          this.budgetVue.fixPinnedSort();
        }, 100);
      },
      unpinCategory () {
        this.hideAccountOptions();
        this.category.fmobilePinned = false;
        this.category.fmobilePinnedSort = 0;
        setTimeout(() => {
          this.budgetVue.fixPinnedSort();
        }, 100);
      },
      hideBudgetOptions () {
        this.showBudgetOptions = false;
        this.showBudgetMenu = false;
        this.showBudgetCalc = false;
      },
      toggleBudgetOptions () {
        this.showBudgetOptions = !this.showBudgetOptions;

        if (this.showBudgetOptions) {
          this.showBudgetMenu = true;
          this.showBudgetCalc = false;
          this.hideAccountOptions();
          this.hideTransactions();
          this.hideBalanceOptions();
          this.budgetVue.$emit('showBudgetOptions', this);
          this.budgetVue.$emit('scrollToDiv', this.categoryId);
        }
      },
      editBudget () {
        this.showBudgetMenu = false;
        this.showBudgetCalc = true;
        this.$refs.budgetCalculator.setAmount(this.budget / Math.pow(10, this.$.digits));
      },
      budgetLastMonth () {
        const lastMonth = this.$current.dbCtrl.manager.getMonth(moment(this.budgetVue.currentMonth.date).add(-1, 'month').toDate());
        this.budgetVue.currentMonth.categories[this.category.id].budget = lastMonth.categories[this.category.id].budget;
        this.hideBudgetOptions();
      },
      budgetLastThreeAvg () {
        let value1 = 0;
        let value2 = 0;
        let value3 = 0;

        const month1 = this.$current.dbCtrl.manager.getMonth(moment(this.budgetVue.currentMonth.date).add(-1, 'month').toDate());
        const month2 = this.$current.dbCtrl.manager.getMonth(moment(this.budgetVue.currentMonth.date).add(-2, 'month').toDate());
        const month3 = this.$current.dbCtrl.manager.getMonth(moment(this.budgetVue.currentMonth.date).add(-3, 'month').toDate());

        if (month1) {
          const category1 = month1.categories[this.category.id];
          if (category1) {
            value1 = category1.budget;
          }
        }

        if (month2) {
          const category2 = month2.categories[this.category.id];
          if (category2) {
            value2 = category2.budget;
          }
        }

        if (month3) {
          const category3 = month3.categories[this.category.id];
          if (category3) {
            value3 = category3.budget;
          }
        }

        const average = Math.round((value1 + value2 + value3) / 3);
        this.budgetVue.currentMonth.categories[this.category.id].budget = average;
        this.hideBudgetOptions();
      },
      budgetToZero () {
        const b = this.budgetVue.currentMonth.categoryCache[this.category.id].balance;
        this.budgetVue.currentMonth.categories[this.category.id].budget -= b;
        this.hideBudgetOptions();
      },
      clearBudget () {
        this.budgetVue.currentMonth.categories[this.category.id].budget = 0;
        this.hideBudgetOptions();
      },
      hideTransactions () {
        this.showTransactions = false;
      },
      toggleTransactions () {
        if (this.transactionList.length === 0) {
          return;
        }

        this.showTransactions = !this.showTransactions;

        // Signal to all other listening transactions that they need to close their transactions list.
        if (this.showTransactions) {
          this.hideAccountOptions();
          this.hideBudgetOptions();
          this.hideBalanceOptions();
          this.budgetVue.$emit('showTransactions', this);
          this.budgetVue.$emit('scrollToDiv', this.categoryId);

          if (this.transactionList.length === 0) {
            this.hideTransactions();
          }
        }
      },
      coverOverbudget () {
        if (this.balance <= (0 - this.budgetVue.currentMonth.cache.totalAvailable)) {
          this.budgetVue.currentMonth.categories[this.category.id].budget -= this.balance;
        } else if (this.balance > (0 - this.budgetVue.currentMonth.cache.totalAvailable)) {
          this.budgetVue.currentMonth.categories[this.category.id].budget -= (0 - this.budgetVue.currentMonth.cache.totalAvailable);
        }
        this.hideBalanceOptions();
      },
      hideBalanceOptions () {
        this.showBalanceOptions = false;
      },
      toggleBalanceOptions () {
        if (!this.showBalanceOptions) {
          if (this.balance === 0 || (this.balance > 0 && this.budgetVue.currentMonth.cache.totalAvailable >= 0)) {
            return;
          }
        }

        this.showBalanceOptions = !this.showBalanceOptions;

        // Signal to all other listening transactions that they need to close their balance options.
        if (this.showBalanceOptions) {
          this.hideAccountOptions();
          this.hideBudgetOptions();
          this.hideTransactions();
          this.budgetVue.$emit('showBalanceOptions', this);
          this.budgetVue.$emit('scrollToDiv', this.categoryId);
        }
      },
      saveNote (value) {
        this.category.note = value;
        this.hideAccountOptions();
      },
      saveBudgetNote (value) {
        const category = this.budgetVue.currentMonth.categories[this.category.id];
        if (category) {
          category.note = value;
        }
        this.hideBudgetOptions();
      }
    },
    mounted () {
      this.transactions = this.$current.dbCtrl.manager.allAccounts.transactions;

      // Listen for other categories open the editor menu, and hide the menu for this one.
      this.budgetVue.$on('showAccountMenu', (category) => {
        this.hideAll(category);
      });

      // Listen for other categories open the editor menu, and hide the menu for this one.
      this.budgetVue.$on('showBudgetOptions', (category) => {
        this.hideAll(category);
      });

      // Listen for other categories open the transactions list, and hide the list for this one.
      this.budgetVue.$on('showTransactions', (category) => {
        this.hideAll(category);
      });

      // Listen for other categories open the balance options, and hide the list for this one.
      this.budgetVue.$on('showBalanceOptions', (category) => {
        this.hideAll(category);
      });

      // Listen for main quick budget menu to be displayed.
      this.budgetVue.$on('showQuickBudgetMenu', () => {
        this.hideAll(null);
      });

      // Listen for budget last month's budget value for all.
      this.budgetVue.$on('budgetAllLastMonth', () => {
        this.budgetLastMonth();
      });

      // Listen for budget last month's budget value for all.
      this.budgetVue.$on('budgetAllLastThreeAvg', () => {
        this.budgetLastThreeAvg();
      });

      // Listen for budget all to zero.
      this.budgetVue.$on('budgetAllToZero', () => {
        this.budgetToZero();
      });

      // Listen for clear all budget values.
      this.budgetVue.$on('clearAllBudget', () => {
        this.clearBudget();
      });
    }
  };
</script>

<!-- ================================================== -->
<!--  Budget category CSS. -->
<!-- ================================================== -->

<style scoped>
  .fa {
    margin-right: 2px;
  }

  .fa-menu {
    width: 12px;
    text-align: center;
  }

  .category {
    height: 50px;
    background: #ffffff;
  }

  .budget-grid {
    display: grid;
    grid-template-columns: auto 80px 80px 80px;
    align-items: center;
  }

  .category-name {
    text-align: left;
    padding: 0px 0px 0px 8px;
  }

  .budget-value {
    text-align: right;
    margin: 0px 8px 0px 0px;
  }

  .budget-value-text {
    display: inline-block;
    white-space: nowrap;
  }

  .divider-line-top {
    border-top: 1px solid #ddd;
  }

  .divider-line-bottom {
    border-bottom: 1px solid #ddd;
  }

  .account-arrow-line {
    background: #ddd;
    width: 20px;
    height: 10px;
    position: relative;
    float: left;
    top: -10px;
    left: 8px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }

  .account-arrow-background {
    width: 18px;
    height: 9px;
    position: relative;
    top: 1.5px;
    left: 1px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }

  .budget-arrow-line {
    background: #ddd;
    width: 20px;
    height: 10px;
    position: relative;
    float: right;
    top: -10px;
    right: 174px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }

  .budget-arrow-background {
    width: 18px;
    height: 9px;
    position: relative;
    top: 1.5px;
    left: 1px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }

  .outflow-arrow-line {
    background: #ddd;
    width: 20px;
    height: 10px;
    position: relative;
    float: right;
    top: -10px;
    right: 94px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }

  .outflow-arrow-background {
    width: 18px;
    height: 9px;
    position: relative;
    top: 1.5px;
    left: 1px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }

  .balance-arrow-line {
    background: #ddd;
    width: 20px;
    height: 10px;
    position: relative;
    float: right;
    top: -10px;
    right: 18px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }

  .balance-arrow-background {
    width: 18px;
    height: 9px;
    position: relative;
    top: 1.5px;
    left: 1px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }

  .account-menu {
    display: grid;
    grid-auto-rows: 30px;
    grid-gap: 10px;
    padding: 0px 10px 10px 13px;
    align-items: center;
    clear: both;
  }

  .budget-menu {
    display: grid;
    grid-auto-rows: 30px;
    grid-gap: 10px;
    padding: 0px 10px 10px 13px;
    align-items: center;
    clear: both;
  }

  .overspending-container {
    padding-bottom: 10px;
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-items: right;
  }

  .switch {
    position: relative;
    display: inline-block;
    margin: 4px 8px 0px 8px;
    width: 46px;
    height: 26px;
  }

  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 26px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>
