<!-- ================================================== -->
<!--  Note editor template. -->
<!-- ================================================== -->

<template>
  <div class="layout-grid">
    
    <fm-note-icon></fm-note-icon>

    <div class="note-wrapper w3-card">
      <div class="note-container">
        <input class="control note-input w3-tiny w3-input" v-model="note" type="text" placeholder="Note">
      </div>
      <i @click="clearNote" class="note-clear fa fa-times w3-text-theme"></i>
    </div>

    <div
      @click="save()"
      class="control button w3-tiny w3-card"
      :class="saveNeeded ? 'w3-theme' : 'w3-theme-l3'">
      <span :class="saveNeeded ? '' : 'w3-text-grey'">Save</span>
    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Note editor script. -->
<!-- ================================================== -->

<script>
  import NoteIcon from './note-icon';

  export default {
    name: 'fm-note-editor',
    components: {
      'fm-note-icon': NoteIcon
    },
    props: [
      'originalNote'
    ],
    data () {
      return {
        noteMem: null,
        note: null
      };
    },
    computed: {
      saveNeeded () {
        return this.note !== this.noteMem;
      }
    },
    methods: {
      clearNote () {
        this.note = null;
      },
      save () {
        if (!this.saveNeeded) {
          return;
        }
        this.noteMem = this.note;
        this.$emit('save', this.note);
      }
    },
    mounted () {
      this.noteMem = this.originalNote;
      this.note = this.originalNote;
    }
  };
</script>

<!-- ================================================== -->
<!--  Note editor CSS. -->
<!-- ================================================== -->

<style>
  .layout-grid {
    display: grid;
    grid-template-columns: 10px 1fr 50px;
    align-items: center;
    grid-gap: 10px;
  }

  .control {
    height: 30px;
    border: 0;
  }

  .note-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .note-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
  }

  .note-input {
    border: 0;
    padding: 8px 24px 8px 8px
  }

  .note-clear {
    grid-column-start: 3;
    grid-row-start: 1;
    padding: 8px 8px 8px 16px;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: italic;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    font-style: italic;
  }
</style>