<!-- ================================================== -->
<!--  Accounts template. -->
<!-- ================================================== -->

<template>
  <div>

    <!-- Header. -->
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">

      <!-- Header text. -->
      <div class="page-text w3-display-left">Accounts</div>

      <!-- Go to budget page button. -->
      <router-link :to="'/' + $route.params.budgetId + '/budget'" class="nav-button w3-display-right w3-theme-l2">
        <i class="fas fa-tags"></i> Budget
      </router-link>

    </div>

    <div style="position: absolute; top: 40px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">

      <div class="bar-50 w3-display-container">
        <div class="w3-display-left">
          <div class="w3-panel">All Accounts</div>
        </div>
        <div class="w3-display-right">
          <div
            v-bind:class="[allAccounts.balance < 0 ? 'w3-red w3-padding-small w3-round-xlarge' : '']"
            class="w3-margin-right w3-padding-small">{{allAccounts.balance | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}
          </div>
        </div>
      </div>

      <div v-if="onBudgetAccounts.length > 0">
        <!-- On budget accounts header. -->
        <div class="bar-40 w3-display-container w3-container w3-theme-l4 w3-tiny">
          <div class="dimmed-50 w3-display-left w3-container">On Budget Accounts</div>
          <div class="w3-display-right">
            <div
              v-bind:class="[onBudgetTotal < 0 ? 'w3-red w3-padding-small w3-round-xlarge' : '']"
              class=" w3-margin-right w3-padding-small">{{onBudgetTotal | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}
            </div>
          </div>
        </div>

        <!-- On budget accounts list. -->
        <div>
          <ul class="w3-ul w3-card">
            <li v-for="onBudgetAccount in onBudgetAccounts" :key="onBudgetAccount.id" class="bar-50 w3-display-container">
              <router-link :to="'account/' + onBudgetAccount.id" class="w3-display-middle" style="height: 100%; width: 100%;">
                <div class="w3-display-left">
                  <div class="w3-panel">{{onBudgetAccount.name}}</div>
                </div>
                <div class="w3-display-right">
                  <div
                    v-bind:class="[onBudgetAccount.balance < 0 ? 'w3-red w3-padding-small w3-round-xlarge' : '']"
                    class="w3-margin-right w3-padding-small">{{onBudgetAccount.balance | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}
                  </div>
                </div>
              </router-link>
            </li>
          </ul>
        </div>
      </div>

      <div v-if="offBudgetAccounts.length > 0">
        <!-- Off budget accounts header. -->
        <div class="bar-40 w3-display-container w3-container w3-theme-l4 w3-tiny">
          <div class="dimmed-50 w3-display-left w3-container">Off Budget Accounts</div>
          <div class="w3-display-right">
            <div
              v-bind:class="[offBudgetTotal < 0 ? 'w3-red w3-padding-small w3-round-xlarge' : '']"
              class="w3-margin-right w3-padding-small">{{offBudgetTotal | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}
            </div>
          </div>
        </div>

        <!-- Off budget accounts list. -->
        <div>
          <ul class="w3-ul w3-card">
            <li v-for="offBudgetAccount in offBudgetAccounts" :key="offBudgetAccount.id" class="bar-50 w3-display-container">
              <router-link :to="'account/' + offBudgetAccount.id" class="w3-display-middle" style="height: 100%; width: 100%;">
                <div class="w3-display-left">
                  <div class="w3-panel">{{offBudgetAccount.name}}</div>
                </div>
                <div class="w3-display-right">
                  <div
                    v-bind:class="[offBudgetAccount.balance < 0 ? 'w3-red w3-padding-small w3-round-xlarge' : '']"
                    class="w3-margin-right w3-padding-small">{{offBudgetAccount.balance | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}
                  </div>
                </div>
              </router-link>
            </li>
          </ul>
        </div>  
      </div>

      <div v-if="closedAccounts.length > 0">
        <!-- Closed accounts header. -->
        <div class="bar-40 w3-display-container w3-container w3-theme-l4 w3-tiny">
          <div class="w3-display-left w3-container">Closed Accounts</div>
          <div class="w3-display-right">
            <div
              v-bind:class="[closedTotal < 0 ? 'w3-red w3-padding-small w3-round-xlarge' : '']"
              class="w3-margin-right w3-padding-small">{{closedTotal | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}
            </div>
          </div>
        </div>

        <!-- Closed accounts list. -->
        <div>
          <ul class="w3-ul w3-card">
            <li v-for="closedAccount in closedAccounts" :key="closedAccount.id" class="bar-50 w3-display-container">
              <router-link :to="'account/' + closedAccount.id" class="w3-display-middle" style="height: 100%; width: 100%;">
                <div class="w3-display-left">
                  <div class="w3-panel">{{closedAccount.name}}</div>
                </div>
                <div class="w3-display-right">
                  <div
                    v-bind:class="[closedAccount.balance < 0 ? 'w3-red w3-padding-small w3-round-xlarge' : '']"
                    class="w3-margin-right w3-padding-small">{{closedAccount.balance | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}
                  </div>
                </div>
              </router-link>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</template>

<!-- ================================================== -->
<!--  Accounts script. -->
<!-- ================================================== -->

<script>
  import { Subscription } from 'rxjs/Subscription';

  const bySort = (a, b) => a.sort - b.sort;

  let _subscriptions;

  export default {
    name: 'fm-accounts',
    data () {
      return {
        accounts: [],
        allAccounts: ''
      };
    },
    computed: {
      onBudgetAccounts: function () {
        return this.accounts.filter(acc => acc.onBudget && !acc.closed).sort(bySort);
      },
      offBudgetAccounts: function () {
        return this.accounts.filter(acc => !acc.onBudget && !acc.closed).sort(bySort);
      },
      closedAccounts: function () {
        return this.accounts.filter(acc => acc.closed).sort(bySort);
      },
      onBudgetTotal: function () {
        let total = 0;
        for (let i = 0; i < this.onBudgetAccounts.length; i++) {
          total += this.onBudgetAccounts[i].balance;
        }
        return total;
      },
      offBudgetTotal: function () {
        let total = 0;
        for (let i = 0; i < this.offBudgetAccounts.length; i++) {
          total += this.offBudgetAccounts[i].balance;
        }
        return total;
      },
      closedTotal: function () {
        let total = 0;
        for (let i = 0; i < this.closedAccounts.length; i++) {
          total += this.closedAccounts[i].balance;
        }
        return total;
      }
    },
    methods: {
      load: function () {
        this.accounts = this.$current.dbCtrl.accounts;
        this.allAccounts = this.$current.dbCtrl.manager.allAccounts;
      }
    },
    mounted: function () {
      _subscriptions = new Subscription();

      _subscriptions.add(this.$db.$dataDestroyed.subscribe((value) => {
        this.$router.push('/');
      }));

      if (this.$current.dbCtrl === null || this.$current.dbCtrl === undefined) {
        this.$current.loadBudget(this.$route.params.budgetId, this.$db).then((dbCtrl) => {
          this.$current.dbCtrl = dbCtrl;
          this.load();
        });
      } else {
        this.load();
      }
    },
    beforeDestroy: function () {
      _subscriptions.unsubscribe();
    }
  };
</script>

<!-- ================================================== -->
<!--  Accounts CSS. -->
<!-- ================================================== -->

<style scoped>
  .nav-button {
    height: 40px;
    width: 120px;
    vertical-align: center;
    text-align: center;
    line-height: 40px;
    padding: 0px 16px;
  }

  .bar-40 {
    height: 40px;
  }

  .bar-50 {
    height: 50px;
  }

  .back-button {
    height: 40px;
    width: 50px;
    padding-bottom: 2px;
  }

  .page-text {
    margin-left: 16px;
  }
</style>
